<div class="container">
    <h1>Create your form</h1>
    <div class="form-container">

        <div class="form-title">
            <div class="field">
                <span class="field-right"> <input type="text" name="formTitle" placeholder="Form Name"
                        [(ngModel)]="formJson.formName" id="formTitle">
                </span>
            </div>
        </div>
        <div class="form" *ngFor="let item of formJson.formComponents">
            <div class="field">
                <span class="field-right"><input type="text" placeholder="Field Name" [(ngModel)]="item.title"></span>
            </div>

            <div class="text" *ngIf="item.inputType == 'static'">
                <div class="field">
                    <span class="field-right"> <input type="text" placeholder="Your description here"
                            [(ngModel)]="item.value"></span>
                </div>
            </div>

            <div class="text" *ngIf="item.inputType == 'text'">
                <div class="field">
                    <span class="field-right"><input placeholder="short answer text" disabled type="{{item.inputType}}">
                    </span>
                </div>

            </div>
            <div class="radio-container" *ngIf="item.inputType == 'radio'">
                <div class="radio" *ngFor="let option of item.options;let i = index;">
                    <div class="field">
                        <span class="field-left"><input type="radio" disabled> </span>
                        <span class="field-right">
                            <input type="text" placeholder="Option Name" name="{{item.title}}" [(ngModel)]="option.value"></span>
                    </div>

                </div>
                <button class="optn-btn" (click)=addOption(item)>Add Option</button>

            </div>
            <div class="dropdown-container" *ngIf="item.inputType == 'dropdown'">
                <div class="dropdown" *ngFor="let option of item.options;let i = index;">
                    <div class="field">
                        <span class="field-left">
                            {{i+1}}.
                        </span>
                        <span class="field-right">
                            <input type="text" name="{{item.title}}" placeholder="Option Name" [(ngModel)]="option.value"></span>
                    </div>

                </div>
                <button class="optn-btn" (click)=addOption(item)>Add Option</button>

            </div>
        </div>

        <div class="btns">
            <button (click)="addComponent('text')">Add Text Input</button>
            <button (click)="addComponent('radio')">Add Radio</button>
            <button (click)="addComponent('dropdown')">Add Dropdown</button>
            <button (click)="addComponent('static')">Add Paragraph</button>
        </div>
    </div>
    <div class="action-btns">
        <button (click)="downloadJson()"> Download JSON</button>
        <button (click)="newMessage()">View Form</button>
    </div>
</div>
<a id="downloadAnchorElem" style="display:none"></a>