<div class="container">
    <div class="form-container">

        <div class="form-title">
            <b>Form Name:</b> <input type="text" name="formTitle" [(ngModel)]="formJson.title" id="formTitle">
            <hr>
        </div>
        <div class="form" *ngFor="let item of formJson.formComponents">
            Name: <input type="text" [(ngModel)]="item.title">
            <div class="text" *ngIf="item.inputType == 'static'">
                Details: <input type="text" placeholder="Your paragraph here" [(ngModel)]="item.value">
                <hr>
            </div>

            <div class="text" *ngIf="item.inputType == 'text'">

                <input placeholder="short answer text" disabled type="{{item.inputType}}">
                <hr>
            </div>
            <div class="radio-container" *ngIf="item.inputType == 'radio'">
                <div class="radio" *ngFor="let option of item.options;let i = index;">
                    {{i+1}}: <input type="radio" disabled>
                    <input type="text" name="{{item.title}}" [(ngModel)]="option">
                </div>
                <button (click)=addOption(item)>Add Option</button>
                <hr>
            </div>
            <div class="dropdown-container" *ngIf="item.inputType == 'dropdown'">
                <div class="dropdown" *ngFor="let option of item.options;let i = index;">
                    {{i+1}}: <input type="text" name="{{item.title}}" [(ngModel)]="option">
                </div>
                <button (click)=addOption(item)>Add Option</button>
                <hr>
            </div>
        </div>
        <hr>
        <div class="btns">

            <button (click)="addComponent('text')">Add Text Input</button>
            <button (click)="addComponent('radio')">Add Radio</button>
            <button (click)="addComponent('dropdown')">Add Dropdown</button>
            <button (click)="addComponent('static')">Add Paragraph</button>
        </div>
    </div>
    <button (click)="downloadJson()"> Download JSON</button>
</div>
<a id="downloadAnchorElem" style="display:none"></a>