.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    min-height: 100vh;
    padding: 100px 0px;
    flex-direction: column;
    background: #dff9fb;
}

.form-container {
    display: flex;
    min-height:200px;
    width:70%;
    box-shadow: 0px 2px 3px -1px rgba(87,87,87,1);
    padding: 40px;
    flex-direction: column;
    background: white;
}

.form-title {
    font-size:25px;
    border-bottom: 1px solid black;
}

.form {
    margin-top:20px;
    border-bottom: 1px solid black;
}
b {
    color:#5b5b5b;
    font-weight: normal;
}

.btns {
    display: flex;
    justify-content: space-around;
}

input{
    margin: 10px 0;
}

input[type=text]{
    height: 40px;
    padding: 5px;
    font-size: 15px;
    width:100%;
}
input[type=text]:disabled{
   width:200px;
   border: 1px dotted black;
}

.field {
    display: flex;
    align-items: center;
}

.field-left {
    padding: 0 5px;
}
.field-right {
    flex:1;
}
button {
    height: 40px;
    
    background: #1976D2;
    color: white;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #1976D2;
}

button:hover {
    background:white;
    color: #1976D2;
}